<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>后台管理</title>
<link href="../layui/css/layui.css" rel="stylesheet">
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../jqgrid/css/ui.jqgrid-bootstrap4.css" rel="stylesheet">
<link href="../css/console.css" rel="stylesheet">
<link href="../css/fonts.css" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
			<a class="navbar-brand" href="#"> 后台管理 </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">首页</a></li>
					<li class="nav-item"><a class="nav-link" href="blogcatalog.html">博客分类</a></li>
					<li class="nav-item"><a class="nav-link" href="blog.html">博客文章</a></li>
					<li class="nav-item"><a class="nav-link" href="blog-create.html">创建博客</a></li>
					<li class="nav-item"><a class="nav-link" href="syscfg.html">系统参数</a></li>
				</ul>
				<ul class="navbar-nav px-3">
					<li class="nav-item text-nowrap"><a class="nav-link" id="my_name"></a></li>
					<li class="nav-item text-nowrap"><a class="nav-link" href="logout.html">Sign out</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main id="MainApp" role="main" class="container">
		<div class="card">
			<div class="card-header bg-light">参数查询</div>
			<div class="card-body p-1">
				<form id="searchFrm">
					<div class="form-row">
						<div class="col-md-2">
							<input type="text" class="form-control" id="matchName" name="matchName" placeholder="名称">
						</div>
						<div class="col-md-2">
							<select id="cfgState" name="cfgState" class="form-control">
								<option value="">-请选择-</option>
								<option value="0">禁用</option>
								<option value="1">启用</option>
							</select>
						</div>
						<div class="col-md-2">
							<select id="cfgType" name="cfgType" class="form-control">
								<option value="">-请选择-</option>
								<option value="text">text</option>
								<option value="number">number</option>
								<option value="bool">bool</option>
								<option value="dict">dict</option>
								<option value="list">list</option>
								<option value="set">set</option>
							</select>
						</div>
						<div class="col-md-6">
							<div class="input-group">
								<input type="text" size="13" class="form-control" id="beginCreateTime" name="beginCreateTime" placeholder="起始时间" readonly>
								<div class="input-group-text">~</div>
								<input type="text" size="13" class="form-control" id="endCreateTime" name="endCreateTime" placeholder="截止时间" readonly>
							</div>
						</div>
					</div>
					<div class="btn-group mt-2 float-right">
						<button type="button" id="searchBtn" v-on:click="doSearch" class="btn btn-primary">
							<span class="glyphicon glyphicon-search"></span> 查询
						</button>
						<button type="button" id="addBtn" v-on:click="doAdd" class="btn btn-warning">
							<span class="glyphicon glyphicon-plus"></span> 新增
						</button>
						<button type="button" id="delBtn" v-on:click="doDelete" class="btn btn-danger">
							<span class="glyphicon glyphicon-remove"></span> 删除
						</button>
						<button type="button" id="resetBtn" v-on:click="resetSearchFrm" class="btn btn-default">
							<span class="glyphicon glyphicon-refresh"></span> 重置
						</button>
					</div>
				</form>
			</div>
		</div>
		<div id="syscfg_operBox" class="hide">
			<div class="container-fluid mt-2 p-3">
				<form id="syscfg_operFrm">
					<input type="hidden" v-model="orgData.id" name="id">
					<div class="form-group row">
						<label for="name" class="col-sm-4 control-label">*名称</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" v-model="orgData.name" name="name" placeholder="" required maxlength="30">
						</div>
					</div>
					<div class="form-group row">
						<label for="cfgVal" class="col-sm-4 control-label">*值</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="cfgVal" placeholder="" rows="3" v-model="orgData.cfgVal" required  maxlength="1000"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label for="cfgType" class="col-sm-4 control-label">*类型</label>
						<div class="col-sm-8">
							<select name="cfgType" v-model="orgData.cfgType" class="form-control" required>
								<option value="text">text</option>
								<option value="number">number</option>
								<option value="bool">bool</option>
								<option value="dict">dict</option>
								<option value="list">list</option>
								<option value="set">set</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="cfgState" class="col-sm-4 control-label">*状态</label>
						<div class="col-sm-8">
							<select name="cfgState" v-model="orgData.cfgState" required class="form-control">
								<option value="0">禁用</option>
								<option value="1">启用</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="remark" class="col-sm-4 control-label">*备注</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="remark" v-model="orgData.remark" placeholder="" required>
						</div>
					</div>
					<div class="form-group float-right">
						<div class="col-sm-3"></div>
						<div class="btn-group col-sm-9" role="group">
							<button type="button" v-on:click="doSubmit" class="btn btn-info submit-btn">
								<span class="glyphicon glyphicon-ok"></span> 确认
							</button>
							<button type="button" v-on:click="doClear" class="btn btn-default cancel-btn">
								<span class="glyphicon glyphicon-remove-circle"></span> 取消
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	
		<div class="card mt-3">
			<div class="card-header">查询结果</div>
			<div class="card-body p-1" id="grid-panel">
				<table id="grid"></table>
				<div id="gridPager"></div>
			</div>
		</div>
	
	</main>
	<footer class="footer">
		<div class="container">
			<span class="text-muted">2008~2018&copy;986001.com 久富农客网</span>
		</div>
	</footer>
	<script src="../ctx.js"></script>
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script src="../bootstrap/bootstrap.min.js"></script>
	<script src="../jqgrid/js/i18n/grid.locale-cn.js"></script>
	<script src="../jqgrid/js/jquery.jqGrid.min.js"></script>
	<script src="../layui/layui.js"></script>
	<script src="../js/vue.min.js"></script>
	<script src="../validate/jquery.validate.min.js"></script>
	<script src="../validate/messages_zh.js"></script>
	<script src="../js/common.js"></script>
	<script>
         layui.use(['layer','laydate'], function(){
        	 var layer = layui.layer, laydate = layui.laydate;
             laydate.render({
                 elem: '#beginCreateTime',
                 type: 'datetime'
             });
             laydate.render({
                 elem: '#endCreateTime',
                 type: 'datetime'
             });
         });
         (function(){
              var operfrm_box = '#syscfg_operBox';
        	  var searchfrm = function(){return $('#searchFrm');};
        	  var operfrm = function(){return $('#syscfg_operFrm');};
        	  var searchUrl = ctx+'/admin-console/syscfg/search?';
        	  var entityRestUrl = ctx+'/admin-console/syscfg';
        	  
        	  var operZoneFormat = function(cellvalue, options, rowObject){
        	      return JGrid.initEidtFormat('编辑', options, rowObject);
        	  };
        	  
              var colModel = [
                  {label: 'ID', name: 'id', key: true, width:100 },
                  {label: '操作', name: 'operZone', width: 80, formatter: operZoneFormat },
                  {label: '名称', name: 'name', width: 200},
                  {label: '参数值', name: 'cfgVal', width: 250 },
                  {label: '状态', name: 'cfgState', width: 80, formatter: JGrid.boolStateFormat},
                  {label: '类别', name: 'cfgType', width: 80},
                  {label: '备注', name: 'remark', width: 80},
                  {label: '创建时间', name: 'createTime' , width: 200},
                  {label: '更新时间', name: 'updateTime' , width: 200}
              ];

              var myGrid = null;
             
              var syscfgVue = new Vue({
                 el: '#MainApp',
                 data: {
                     orgData: {}
                 },
                 methods: {
                     doSearch : function(){
                         let url = searchUrl + searchfrm().getQueryFormData();
                         myGrid.setGridParam({url: url, page: 1});
                         myGrid.trigger("reloadGrid");
                     },
                     doAdd : function(){
                         JDialog.openWin("添加分类", operfrm_box);
                     },
                     doDelete : function(){
                         let selrows = myGrid.getGridParam("selarrrow");
                         let me = this;
                         if (selrows && selrows.length == 0) {
                             JDialog.msg('请选择需要删除的记录.');
                         } else {
                             JDialog.confirm('操作确认提示', '确认删除记录吗？', function (idx) {
                                 $.post(entityRestUrl, {'ids[]': selrows, '_method':'delete'}, function (x) {
                                     JDialog.alertMsg('删除成功!', function () {
                                         me.doSearch();
                                     });
                                 });
                             });
                         }
                     },
                     resetSearchFrm : function(){
                         searchfrm().resetfrm();
                     },
                     doSubmit: function () {
                         if(!operfrm().valid()){
                             JDialog.msg('请检查输入项.');
                             return ;
                         }
                         let entityId = syscfgVue.$data.orgData.id;
                         let me = this;
                         if(entityId && entityId!=''){
                             $.post(entityRestUrl+'?_method=put', operfrm().getFormData(), function (r) {
                               JDialog.alertMsg('更新成功!', function () {
                                me.doSearch();
                                me.doClear();
                              });
                             });
                         }else{
                             $.post(entityRestUrl, operfrm().getFormData(), function(r){
                           	  JDialog.alertMsg('创建成功!', function () {
                           	   me.doSearch();
                           	   me.doClear();
                              });
                             });
                         }
                     },
                     doClear: function () {
                         syscfgVue.$data.orgData = {};
                         JDialog.closeAll();
                     }
                 },
                 mounted: function(){
                     myGrid = JGrid.initSearchGrid("#grid", "#gridPager", colModel, {
                         url: searchUrl + searchfrm().getQueryFormData(),
                         shrinkToFit: false,
                         height:350
                     });
                     
                     JGrid.bindEidtOnClickEvent(myGrid, function (id) {
                         JDialog.ajaxLoadWin(entityRestUrl+'/'+id, function (x) {
                             syscfgVue.$data.orgData = x;
                         }, operfrm_box, "编辑[" + id + "]");
                     });
                 }
             });

             $(window).resize(function () {
                 if(myGrid){
                	myGrid.setGridWidth($('#grid-panel').width());
                 }
             });
           
             $.get(ctx+'/admin-console/mylog',function(r){
                 if(r.state==0){
                     ut.gopage('logout.html');
                 }else{
                     $('#my_name').text('Hi, '+r.admin.name);
                 }
             });
          
          })();
</script>
</body>
</html>