<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.uuola.webapp.dao.BlogInfoDAO">

	<sql id="listQueryCondition">
			<if test="id!=null">and id=#{id}</if>
			<if test="cid!=null">and cid=#{cid}</if>
			<if test="funcType!=null">and func_type=#{funcType}</if>
			<if test="conType!=null">and con_type=#{conType}</if>
			<if test="conState!=null">and con_state=#{conState}</if>
	</sql>
	
	<select id="count" parameterType="BlogInfoQuery" resultType="java.lang.Integer">
        select count(*) from blog_info where id!=0 <include refid="listQueryCondition"/>
    </select>

	<select id="list" resultType="BlogInfo" parameterType="BlogInfoQuery">
		select * from blog_info where id <![CDATA[ <= ]]> (
			select id from blog_info where id!=0 <include refid="listQueryCondition"/> 
			order by id desc limit #{crow}, 1
		) <include refid="listQueryCondition"/> order by id desc limit 0, #{listSize}
	</select>
</mapper>