<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.uuola.webapp.dao.NcMarketDAO">

	<sql id="listQueryCondition">
			<if test="id!=null">and id=#{id}</if>
			<if test="zoneId!=null">zone_id=#{zoneId}</if>
			<if test="marketId!=null">and market_id=#{marketId}</if>
	</sql>
	
	<select id="count" parameterType="NcMarketQuery" resultType="java.lang.Integer">
        select count(*) from nc_market where id!=0 <include refid="listQueryCondition"/>
    </select>

	<select id="list" resultType="NcMarket" parameterType="NcMarketQuery">
		select * from nc_market where id <![CDATA[ <= ]]> (
			select id from nc_market where id!=0 <include refid="listQueryCondition"/> 
			order by id desc limit #{crow}, 1
		) <include refid="listQueryCondition"/> order by id desc limit 0, #{listSize}
	</select>
</mapper>